<!DOCTYPE HTML>
<html>
    <head>
        <title>Build-a-Blog</title>
        <style>
            .header {
                text-align: center;
            }
            .error {
                color: red;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <a href="/blog">Main Blog Page</a>
        <a href="/newpost">Add a Blog Entry</a>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        <a href="/login">Login</a>
        {% block content %}
        {% endblock %}
    </body>
</html>