{% extends "base.html" %}

{% block content %}

<h1 class="header">Add a Blog Entry</h1>
<form action="/newpost" method="post">
    <label>Title:
        <input type="text" name="title" />
    </label>
    {% if titleerr %}
        <br/>
        <span class="error">{{ titleerr }}</span>
    {% endif %}
    <br/>
    <label for="body">Your new post:</label>
    <br/>
    <textarea name="body" id="body" /></textarea>
    {% if bodyerr %}
        <br/>
        <span class="error">{{ bodyerr }}</span>
    {% endif %}
    <br/>
    <input type="submit" value="Add Entry" />
</form>
{% endblock %}